* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}
body {
    font: 20px Roboto, sans-serif;
}
h1 {
    font-size: 2em;
}
section {
    width: 100%;    
}

.wrapper {
    display: grid;
}
.text_white {
    color: #fff;
}
.text_orange {
    color: #e86e2d;
}
.text_separated {
    letter-spacing: .5em;
}

/* HEADER */
.header {
    width: 100vw;
    height: 100vh;
    text-align: center;
}
.header_img {
    position: absolute;
    z-index: -1;
    background: url("../img/bg_header.jpg") no-repeat 50% 0;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.header_opacity {
    position: absolute;
    z-index: -1;
    background-color: #000;
    width: 100vw;
    height: 100vh;
    opacity: .4;
}
.logo {
    width: 100px;
    margin: 2vh auto;
    display: block;
}
.header h1 {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
}
.header h4 {
    font-size: 1.1em;
}


/* COMPONENTS */
/* COUNTDOWN */
.countdown {
    text-align: center;
    font-size: 1.5em;
    margin: 3vh 0;
    /* TODO выпилить позже */
    position: absolute;
    top: 40vh;
}
.countdown_text {
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 3vh;
}
#countdown {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
}
#countdown span {
    font-size: 2.4em;
}
#countdown .smalltext {
    font-size: .8em;
}

@media (orientation: portrait) {
    body {
        font-size: 16px;
    }
}

@media (orientation: landscape) {
    .countdown {
        top: calc(100vh - 150px);
    }
}