* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}
body {
    font: 20px Roboto, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;      
}
a, a:hover, a:visited{
  border:none;
  outline:none;
  text-decoration:none;
  color:inherit;
  -webkit-tap-highlight-color: transparent;
}
section {
    width: 100%; 
}
.wrapper {
    display: block;
    width: 100vw;
    overflow-x: hidden;
}
.text_white {
    color: #fff;
}
.text_orange {
    color: #e86e2d;
}
.text_separated {
    letter-spacing: .5em;
}

/* HEADER */
.header {
    padding-top: 30px;
    color: #fff;
    display: grid;
    grid-template-columns: 55% 1fr 20%;
    grid-template-areas: "logo language-switch registration";
    letter-spacing: 1.3px;
    width: 100vw;
}
.logo {
    width: 86px;
    margin-left: 50px;
    display: block;
}
.language-switch {
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(3, auto);
    max-width: 150px;
}
.language-switch li {
    list-style: none;
}
.language-switch a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    opacity: .33;
}
.language-switch .active a {
    opacity: 1;
}
.language-switch a:after {
    content: " | ";
    padding: 0 5px;
    opacity: .33;
}
.language-switch li:last-child a:after {
    content: "";
}
.registration {
    justify-self: end;
    padding-right: 30px;
}
.menu_button {
    display: none;
}

/* END HEADER */

.bg_img {
    position: absolute;
    z-index: -1;
    background: url("../img/bg.png") no-repeat 0 0;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    top: 0;
}

/* NAVIGATION */
.navigation {
    position: fixed;
    width: 20%;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}
.navigation li {
    list-style: none;
}
.navigation a {
    color: #fff;
    opacity: .33;
    text-decoration: none;
    font-size: 1.1em;
    letter-spacing: 1.5px;
    line-height: 2.5em;
    display: block;
    position: relative;
}
.navigation a.active {
    opacity: 1;
}
.navigation a.active:after {
    content: " ";
    border: 1px solid #fff;
    width: 47px;
    position: absolute;
    right: 0;
    top: 50%;
}
.section_hello {
    text-align: center;
    padding-top: 20px;
    color: #fff;
    width: 90%;
}
.section_hello h1 {
    font: bold 4.3em "Exo 2", sans-serif;
    line-height: 1.5em;
    letter-spacing: 3px;
}
.section_hello h2 {
    opacity: .66;
    font: 2.5em "Exo 2", sans-serif;
    text-transform: uppercase;
    letter-spacing: 5.8px;
}
.section_hello hr {
    display: block;
    width: 55%;
    background-color: #fff;
    height: 1px;
    opacity: .5;
    margin: 5vh auto;
}



/* COMPONENTS */
/* COUNTDOWN */
.countdown {
    text-align: center;
    width: 60%;
    margin: auto;
    text-transform: lowercase;
    font: 1em "Exo 2", sans-serif;
}
#countdown {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
}
#countdown span {
    font-size: 4.5em;
}
#countdown .smalltext {
    font-size: 1.5em;
    opacity: .66;
    font-family: "Roboto";
    letter-spacing: 3.5px;
    font-stretch: condensed;
}

/*TABLET LANDSCAPE*/
@media (orientation: landscape) {

}

/*TABLET PORTRAIT*/
@media (orientation: landscape) {

}

/* PHONE PORTRAIT */
@media screen and (orientation: portrait) and (max-width: 420px) {
    body {
        font-size: 10px;
    }
    .header {
        grid-template-areas: "menu-button language-switch registration" "logo logo logo";
        grid-template-columns: 40px 1fr 1fr;
        grid-template-rows: auto auto;
    }
    .language-switch {
        justify-self: start;
    }
    .menu_button {
        display: block;
    }
    .logo {
        order: 4;
        grid-column: span 3;
        justify-self: center;
        margin: 8vh auto 2vh;
    }
    .section_hello {
        width: 100vw;
        overflow-x: hidden;
    }
    .section_hello h1 {
        font-size: 4em;
    }
    .section_hello h2 {
        letter-spacing: 2.5px;
        font-size: 2.2em;
    }
    .countdown {
        width: 90%;
        margin-top: 8vh;
    }
    .section_hello hr {
        display: none;
    }
    #countdown span {
        font-size: 3.8em;
    }
    #countdown .smalltext {
        letter-spacing: 1.5px;
    }



}


/* remove later */
.section_hello {
    width: 100%;
}
.navigation {
    display: none;
}